# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
hello_world/.vs/hello_world/v17/ipch/AutoPCH/93365b340cf4df6/HELLO_WORLD.ipch
hello_world/CMakePresets.json
hello_world/.vs/CMake Overview
hello_world/.vs/hello_world/FileContentIndex/c282b3df-ca0b-485f-882f-16d619c71301.vsidx
hello_world/.vs/hello_world/v17/.wsuo
hello_world/.vs/hello_world/v17/Browse.VC.db
hello_world/.vs/hello_world/v17/Browse.VC.db-shm
hello_world/.vs/hello_world/v17/Browse.VC.db-wal
hello_world/.vs/hello_world/v17/Browse.VC.opendb
hello_world/.vs/ProjectSettings.json
hello_world/.vs/slnx.sqlite
hello_world/.vs/VSWorkspaceState.json
hello_world/out/build/x64-debug/.cmake/api/v1/query/client-MicrosoftVS/query.json
hello_world/out/build/x64-debug/.cmake/api/v1/reply/cache-v2-4744b908f62134ced4d2.json
hello_world/out/build/x64-debug/.cmake/api/v1/reply/cmakeFiles-v1-218266824efa0ac13780.json
hello_world/out/build/x64-debug/.cmake/api/v1/reply/codemodel-v2-d8f47ad7ad86ce7ec5d0.json
hello_world/out/build/x64-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
hello_world/out/build/x64-debug/.cmake/api/v1/reply/index-2023-12-05T15-07-35-0258.json
hello_world/out/build/x64-debug/.cmake/api/v1/reply/target-hello_world-Debug-23ca5d18880e3e17caba.json
hello_world/out/build/x64-debug/.cmake/api/v1/reply/toolchains-v1-f9380816d9db0ef94961.json
hello_world/out/build/x64-debug/.ninja_deps
hello_world/out/build/x64-debug/.ninja_log
hello_world/out/build/x64-debug/build.ninja
hello_world/out/build/x64-debug/cmake_install.cmake
hello_world/out/build/x64-debug/CMakeCache.txt
hello_world/out/build/x64-debug/CMakeFiles/3.26.4-msvc4/CMakeCCompiler.cmake
hello_world/out/build/x64-debug/CMakeFiles/3.26.4-msvc4/CMakeCXXCompiler.cmake
hello_world/out/build/x64-debug/CMakeFiles/3.26.4-msvc4/CMakeDetermineCompilerABI_C.bin
hello_world/out/build/x64-debug/CMakeFiles/3.26.4-msvc4/CMakeDetermineCompilerABI_CXX.bin
hello_world/out/build/x64-debug/CMakeFiles/3.26.4-msvc4/CMakeRCCompiler.cmake
hello_world/out/build/x64-debug/CMakeFiles/3.26.4-msvc4/CMakeSystem.cmake
hello_world/out/build/x64-debug/CMakeFiles/3.26.4-msvc4/CompilerIdC/CMakeCCompilerId.c
hello_world/out/build/x64-debug/CMakeFiles/3.26.4-msvc4/CompilerIdCXX/CMakeCXXCompilerId.cpp
hello_world/out/build/x64-debug/CMakeFiles/cmake.check_cache
hello_world/out/build/x64-debug/CMakeFiles/CMakeConfigureLog.yaml
hello_world/out/build/x64-debug/CMakeFiles/hello_world.dir/embed.manifest
hello_world/out/build/x64-debug/CMakeFiles/hello_world.dir/intermediate.manifest
hello_world/out/build/x64-debug/CMakeFiles/hello_world.dir/manifest.rc
hello_world/out/build/x64-debug/CMakeFiles/hello_world.dir/manifest.res
hello_world/out/build/x64-debug/CMakeFiles/hello_world.dir/vc140.idb
hello_world/out/build/x64-debug/CMakeFiles/hello_world.dir/vc140.pdb
hello_world/out/build/x64-debug/CMakeFiles/rules.ninja
hello_world/out/build/x64-debug/CMakeFiles/ShowIncludes/foo.h
hello_world/out/build/x64-debug/CMakeFiles/ShowIncludes/main.c
hello_world/out/build/x64-debug/CMakeFiles/TargetDirectories.txt
hello_world/out/build/x64-debug/hello_world.ilk
hello_world/out/build/x64-debug/hello_world.pdb
hello_world/out/build/x64-debug/Testing/Temporary/LastTest.log
hello_world/out/build/x64-debug/VSInheritEnvironments.txt
